.add-glasses-container {
    flex-grow: 1;
    overflow: auto;
    font-size: 16px;
    height: calc(100vh - 54px);
    padding-top:50px;
}
.add-glasses-container >div {
    max-width: 75%;
    margin:0 auto;
}
.add-glasses-container .img-block {
    padding: 15px 0px;
}
.add-glasses-container .img-block .img-item {

}
.add-glasses-container .img-block .img-item img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
}